# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Build outputs
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Ruby/bundler
.bundle/
vendor/bundle/
